body {
    background-image: url(2.jpeg);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50p0x;
}

.form {
    background : rgb(138, 164, 138);
    text-align: center;
    width: 300px;
    height: 450px;
    align-items: center;
    margin: 200px 200px 100px 550px;
    border: none;
    border-radius: 10px;
}

.form input:focus {
    outline: none;
}

.form input {
    margin-bottom: 40px;
    align-items: center;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ff7200;
    width: 200px;
}

#email {
    margin-top: 50px;
}

::placeholder {
    color: blue;
    font-size: 17px;
}

.header {
    color: #fff;
    background-color: #00ff;
    text-align: center;
    width: 200px;
    align-items: center;
    margin: 200px 200px -100px 650px;
}

.icons ion-icon{
    color: yellow;
    font-size: 40px;
}

.icons ion-icon:hover{
    color: blue;
}

.txt {
    font-size: 20px;
}

.btnn {
    color: aqua;
    background-color: #ff7200;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: none;
}